@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#root {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/v915-wit-011.jpg);
  min-height: 100vh;
  min-width: 100vw;
}

#navbar {
  background-color: #00155a !important;
}

#link-button {
  color: #ffffff;
  text-decoration: none;
}

#link-button-spacing {
  padding: 5px;
}

.link-button-div {
  margin-top: 10px;
}

.link-button-div-list,
.link-button-div-form {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

#welcome-text {
  font-family: Tangerine;
  font-size: xxx-large;
  margin-bottom: 0px;
  border-bottom: 0px;
}

#site-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 100;
  font-size: 5.5rem;
  position: relative;
}

#main-style {
  background-color: #00155a;
  width: 45em;
  height: 20em;
  border-radius: 5px;
}

#form-style {
  background-color: #00155a;
  /* background-color: #198754; */
  color: #d3d3d3;
  border-radius: 5px;
  min-width: 25em;
  max-width: 25em;
}

#form1 {
  background: transparent;
  color: #ffffff
}

#navbar-dropdown {
  background-color: #00155a !important;
  margin: 5px;
}

.dropdown-menu {
  min-width: 20em;
}

.nav-item {
  max-width: 18.5rem;
}

.navbar-brand:hover, .nav-item:hover {
  animation: navItemAnimation 0.3s ease-in-out;
}

@keyframes navItemAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-link-container {
  display: flex;
  justify-content: space-between;
  min-width: 50vw;
}

.table-name {
  margin-bottom: 16px;
  padding-bottom: 8px;
  font-size: 3em;
  font-weight: 600;
  text-align: left;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
  min-width: 90%;
}

.form-control {
  margin-bottom: 24px;
}

.form-outline {
  flex: 1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  margin: 10px;
}

td, th, table {
  color: #ffffff !important;
}

tr {
  max-width:fit-content;
}

/* @media screen and (max-width: 768px) {
  #main-style {
    width: 100%;
    min-width: 100%;
  }
} */
